input[type=file]{
 padding:5px 0px 5px 5px;
 background:black;
 border-radius:5px;
}
input[type=submit]{
 background:black;
 color:white;
 padding:6px 8px;
 font-weight:bold;
 cursor:pointer;
 border-radius:5px;
}
form{
 padding-bottom:5px;
 border-bottom:2px solid green;
}
#content{
 width:800px;
 background:#99ccff;
 margin:auto;
 overflow:hidden;
}
#video_player_box{width:300px;border-right:2px solid red;border-bottom:2px solid red;float:left;background:#000; margin:0px auto;}
#download{ width:250px;background: #000; padding:6px; color:#CCC;}
#downloadbtn{
 background:#3973ac;
    padding:5px 7px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px;
}
#downloadbtn a{
 color:white;
 text-decoration:none;
}