body{margin: 0 0 0 0;}

#body{
	background-color: #e2ebf0;
	background: image(./img/bk_body.jpg);
	
}
#main
{
	width: 100%;
	height:333px;

	background-color:#CCE5FF;
}
#wrapper
{
	width:1024px;
	height:444px;
	margin: 0 auto;


}
#header
{
	background-color:inherit;
	height:150px ;
}
#logo{ padding-top: 40px;}



#home{
	height: 10px;
}
.top{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:60px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login{
	background-color:#0000FF;
	border-radius:20px;
	margin-top:20px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login img{margin-top:30px;}
.login form{margin-top:10px;}
.login form input[type="submit"]{
								width:100%;
								margin-bottom:40px;
								}
.login p{color:#0000FF;}

/* ======================== index.php =========================== */
.headSection .myhead{
					background-color:#4B6C9E;
					}
.headSection .myhead h3{
						font-weight:bold;
						color:#FFFFFF;
						}
.headSection .myhead .text-right{
								padding-top:16px;
								}
.headSection .myhead .text-right p{
								color:#FFFFFF;
								}	
.headSection .myhead .text-right p a{
								color:#FFFFFF;
								}	
.headSection .navbar-default {
    background-color: #0F375B;
    border-color: transparent;
}			
.navbar-default .navbar-left>li>a {
    color: #FFFFFF !important;
}
.navbar-default .navbar-left>li:hover a {
    background-color:transparent;
	border-bottom:3px solid #FFFFFF;
}
.navbar-default .navbar-left #menu:hover{background-color:#0F375B; color:#ffffff;}


.ctn{
	background-color:#FFFFFF;
	min-height:460px;
	}
						

.signleTranscation, .multipleTransaction table{padding:0px;margin:0px;}
.signleTranscation, .multipleTransaction input[type="submit"]{
											width:100%;
											}								
									
.main{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:10px;
	margin-bottom:30px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
}			
.control p{color:grey;
			font-weight:bold;
			}		
						
					

.tbwo tr {background-color:green;}

#footer{
	height: auto; background-color:#0f375b;
	color:#ffffff;
	padding: 0 0 30px 0;
}
.footer_leftdiv{
	padding-left: 30px;
	float: left;
}
						
						
						
						
						
						
						